<a href="https://colab.research.google.com/github/LilyRosa/Matematica-Numerica-Google-Colab/blob/main/notebooks/cap3/Conv-Matriz.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from numpy import array
import pandas as pd

### Conversión de $AX=B$ a la forma $X=MX+C$

## Implementación

### Convertir a matriz $M$

` convertir_matriz_m(a): ` Convertir a la matriz $M$ de la forma $X=MX+C$

##### Parámetros
- ` a ` : matriz de los coeficientes $A$

In [2]:
def convertir_matriz_m(a):
    matrizM = array(a,dtype=float)
    for i in range(a.shape[0]):
        for j in range(a.shape[0]):
            if i != j:
                matrizM[i][j] = (a[i][j] * (-1)) / a[i][i]
            else:
                matrizM[i][i] = 0
    return matrizM

### Convertir a matriz C

` convertir_matriz_c(a, b): ` Convertir a la matriz $C$ de la forma $X=MX+C$

##### Parámetros
- ` a ` : matriz de los coeficientes $A$
- ` b ` : matriz de los términos independientes $B$

In [3]:
def convertir_matriz_c(a, b):
    matrizC = array(b, dtype=float)
    for i in range(b.shape[0]):
        matrizC[i] = b[i] / a[i][i]
    return matrizC

## Inserción de datos

#### Datos

- ` a ` : matriz de los coeficientes $A$
- ` b ` : matriz de los términos independientes $B$

In [4]:
a = array([[5, -1, 1],
           [2, 5, -1],
           [-1, 1, 5]])

b = array([10, 12, 10])

## Salida de datos

### Matrices sin convertir

#### Matriz $A$

In [5]:
pd.DataFrame(data=a)

   0  1  2
0  5 -1  1
1  2  5 -1
2 -1  1  5

#### Matriz $B$

In [6]:
pd.DataFrame(data=b.transpose())

    0
0  10
1  12
2  10

### Matrices convertidas

#### Matriz $M$

In [7]:
pd.DataFrame(data=convertir_matriz_m(a))

     0    1    2
0  0.0  0.2 -0.2
1 -0.4  0.0  0.2
2  0.2 -0.2  0.0

#### Matriz $C$

In [8]:
pd.DataFrame(data=convertir_matriz_c(a, b).transpose())

     0
0  2.0
1  2.4
2  2.0